<h1> Listing all Movies (index page) </h1>
 <ul>
  <% @movies.each do |movie| %>
    <li><%= link_to "Show #{movie.title}", movie_path(movie) %></li>
  <% end %>
  </ul>

<%= link_to "create a new movie", new_movie_path(@movie) %>

