<% if !user_signed_in? %>
<%# if user isn't logged in they will see this filler on homepage %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Life is like a movie, create your own ending. Keep believing, keep pretending. Sign In or Sign Up to start reviewing! </p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>


<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>
