<h1> Movies <%= user_name %> Reviewed:  </h1>




<div class="row">
  <% @user_movies.uniq.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>

  
</div>
<%# #.uniq prevents duplicate movies on user show page  %>

